<section class="row-center text-center placeholders">
  <div class="center" align="middle">
    <h1 class="text-success">Admin</h1>
    <img src= "https://images.pexels.com/photos/712786/pexels-photo-712786.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" width="200" height="200" class="img-fluid rounded-circle" alt="Generic image" align="middle">
    <h4>create something new?</h4>
    <div class="text-muted" align="center"> <%= link_to 'Click here', new_admin_product_path, class: 'nav-item nav-link' %>
    </div>
  </div>
</section>
<table class="table">
  <thead>
    <tr>
      <th scope="col">sku#</th>
      <th scope="col">product image</th>
      <th scope="col">stock</th>
      <th scope="col">product</th>
      <th scope="col">price</th>
      <th scope="col">cost</th>
      <th scope="col">options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
    <tr>
      <td>#<%= product.sku %></td>
      <td><%= image_tag product.image.thumb('200x100#').url if product.image_stored? %></td>
      <td><%= product.stock %> left</td>
      <td><%= link_to product.name, product_path(product)%></td>
      <td>£<%= product.price %></td>
      <td>£<%= product.cost %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-outline-info' %>
          <%= link_to 'Destroy', admin_product_path(product), method: :delete, class: 'btn btn-outline-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
