<h4><%= @product.name %></h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">stock</th>
      <th scope="col">description</th>
      <th scope="col">price</th>
      <th scope="col">cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.stock %></td>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
      <td><%= @product.cost %></td>
    </tr>
  </tbody>
</table>
