<h2><%= @product.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">stock</th>
      <th scope="col">description</th>
      <th scope="col">price</th>
      <th scope="col">cost</th>
      <th scope="col">options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.stock %></td>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
      <td><%= @product.cost %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-outline-info' %>
          <%= link_to 'Destroy', admin_product_path(@product), method: :delete, class: 'btn btn-outline-danger' %></td>
    </tr>
  </tbody>
</table>
