<h1 class="text-info"><%= @category.name %> products</h1>
<hr class="my-6">

<table class="table">
  <thead>
    <tr>
      <th scope="col">price</th>
      <th scope="col">product image</th>
      <th scope="col">product</th>
      <th scope="col">stock left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>£<%= @product.price %></td>
      <td><%= @product %></td>
      <td><%= @product %></td>
      <td><%= @product %> left!</td>
    </tr>
  </tbody>
</table>
