<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      body{
        background-color: #edefe4;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class=" col-lg-2">
          <nav class="hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
             <%= link_to 'Product managment', admin_products_path, class: 'nav-item nav-link' %>
             <%= link_to 'all products', products_path, class: 'nav-item nav-link' %>
           </ul>
          </nav>
        </div>
        <div class=" col-lg-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
